@*//wailiang 20190320 RDT-127 \/*@
@model IncidentsModel

@{
    //page title
    ViewBag.Title = T("Incidents.IncidentsList.Incidentsitems.EditIncidentsDetails").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Incidents List");
}

<form asp-controller="Incidents" asp-action="Edit" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Incidents.IncidentsList.IncidentsItems.EditIncidentsDetails") - @Model.Title
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a asp-action="List">@T("Incidents.IncidentsList.IncidentsItems.BackToList")</a>
            </small>
        </h1>
        <div class="pull-right">
            <button type="submit" name="save" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.Save")
            </button>
            <button type="submit" name="save-continue" class="btn bg-blue">
                <i class="fa fa-floppy-o"></i>
                @T("Admin.Common.SaveContinue")
            </button>
            <span id="incidentsitem-delete" class="btn bg-red">
                <i class="fa fa-trash-o"></i>
                @T("Admin.Common.Delete")
            </span>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_incidents_details_buttons", additionalData = Model.Id })
        </div>
    </div>
    @await Html.PartialAsync("_CreateOrUpdate", Model)
</form>
<nop-delete-confirmation asp-model-id="@Model.Id" asp-button-id="incidentsitem-delete" />
@*//wailiang 20190320 RDT-127 /\*@