@model SecurityQuestionViewModel
@inject AdminAreaSettings adminAreaSettings
@inject ISecurityQuestionManagementService securityService

@using Nop.Services.Security


@{
    var defaultGridPageSize = adminAreaSettings.DefaultGridPageSize;
    var gridPageSizes = adminAreaSettings.GridPageSizes;

    //page title
    ViewBag.Title = T("Admin.Configuration.SecurityQuestions").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("Security Question Management System"); // Tony
}

<nop-antiforgery-token />
<form asp-controller="Security" asp-action="List" method="post">
    <div class="content-header clearfix">
        <h1 class="pull-left">
            @T("Admin.Configuration.SecurityQuestions")
        </h1>
        <div class="pull-right">
            <a asp-action="Create" class="btn bg-blue">
                <i class="fa fa-plus-square"></i>
                @T("Admin.Common.AddNew")
            </a>
            @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_security_question_buttons" })
        </div>
    </div>

    <div class="content">
        <div class="form-horizontal">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                <nop-label asp-for="SearchStatusID" />
                            </div>
                          

                            <div class="row">
                                <div class="col-md-6">
                                    <nop-select asp-for-name="SearchStatusID" asp-items="Model.AvailableStatusOptions" />
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-7 col-md-offset-5">
                                    <button type="button" id="filter-status" class="btn btn-primary btn-dropbox">
                                        <i class="fa fa-search"></i>
                                        @T("Admin.Common.Search")
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div id="security-grid"></div>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#security-grid").kendoGrid({
                                    dataSource: {
                                        type: "json",
                                        transport: {
                                            read: {
                                                url: "@Html.Raw(Url.Action("List", "Security"))",
                                                type: "POST",
                                                dataType: "json",
                                                data: securityAdditionalData
                                            },
                                        },
                                        schema: {
                                            data: "Data",
                                            total: "Total",
                                            errors: "Errors",
                                            model: {
                                                id: "Id",
                                                fields: {
                                                    Id: { editable: false, type: "number" },
                                                    Question: { editable: false, type: "string" },
                                                    Status: { editable: false, type: "string" },
                                                }
                                            }
                                        },
                                        requestEnd: function (e) {
                                            if (e.type == "update") {
                                                this.read();
                                            }
                                        },
                                        error: function (e) {
                                            display_kendoui_grid_error(e);
                                            // Cancel the changes
                                            this.cancelChanges();
                                        },
                                        pageSize: @(defaultGridPageSize),
                                        serverPaging: true,
                                        serverFiltering: true,
                                        serverSorting: true
                                    },
                                    pageable: {
                                        refresh: true,
                                        numeric: true,
                                        previousNext: true,
                                        info: true,

                                        @await Html.PartialAsync("_GridPagerMessages")
                                    },
                                    editable: {
                                        confirmation: "@T("Admin.Common.DeleteConfirmation")",
                                        mode: "inline"
                                    },
                                    scrollable: false,
                                    columns: [
                                        {
                                            field: "Index",
                                            title: "@T("Admin.Configuration.SecurityQuestions.Fields.Index")",
                                            width: 50,
                                            type: "number",
                                        }, {
                                            field: "Question",
                                            title: "@T("Admin.Configuration.SecurityQuestions.Fields.Question")",
                                            width: 200,

                                        }, {
                                            field: "Status",
                                            title: "@T("Admin.Configuration.SecurityQuestions.Fields.Status")",
                                            width: 50,
                                            type: "string"
                                        }
                                        , {
                                            field: "QuestionID",
                                            title: "@T("Admin.Configuration.SecurityQuestions.Fields.Edit")",
                                            width: 50,
                                            headerAttributes: { style: "text-align:center" },
                                            attributes: { style: "text-align:center" },
                                            template: '<a class="btn btn-default" href="Edit/#=QuestionID#"><i class="fa fa-pencil-square-o"></i>@T("Admin.Common.Edit")</a>'
                                        }
                                    ]
                                });
                            });
                        </script>

                        <script type="text/javascript">
                            $(document).ready(function ()
                            {
                                    //search button
                                    $('#filter-status').click(function () {
                                        //search
                                        var grid = $('#security-grid').data('kendoGrid');
                                        grid.dataSource.page(1); //new search. Set page size to 1

                                        return false;
                                });
                                 $("".concat("#@Html.IdFor(model => model.SearchStatusID)")).keydown(function(event) {
                                        if (event.keyCode === 13) {
                                            $("#filter-status").click();
                                            return false;
                                        }
                                    });
                            });


                            function securityAdditionalData()
                            {
                                var data =
                                    {
                                        SearchStatusID: $('#SearchStatusID').val(),
                                    };
                                    addAntiForgeryToken(data);
                                    return data;
                            }

                        </script>


                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
